body:has(.big-img) {
  overflow: hidden;
}

.big-img {

  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(29, 29, 29, 0.7);
  scroll-behavior: none;

  &__container {
    position: relative;
  }

  &__close {
    position: absolute;
    width: 25px;
    height: 25px;
    right: 20px;
    background-image: url('./images/preview.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    cursor: pointer;
  }

  &__img {
    max-width: 95vw;
    max-height: 95vh;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);

  }
}