.message {
  padding: 10px;
  margin: 0;
  max-width: 50%;
  min-width: 7em;
  box-sizing: border-box;
  color: white;


  &--operator {
    background-color: #314e9c;
    justify-self: end;
    border-radius: 15px 15px 0 15px;
  }

  &--customer {
    background-color: #1f3164;
    border-radius: 15px 15px 15px 0;
    justify-self: start;
    align-items: end;
  }

  &__reply {
    margin: 0;
    border-left: 3px solid white;
    margin-left: 5px;
    margin-bottom: 3px;
    padding: 2px;
    padding-left: 4px;
    
    &--operator {
      background-color: #2e54bb;
    }

    &--customer {
      background-color: #1139a8;
    }
    
    &--img {
      max-width: 90%;
      margin: 0;
    }
  }

  &__title {
    display: block;
    margin: 0;
    margin-bottom: 5px;
  }

  &__text {
    margin: 0;
    margin-bottom: 10px;
    margin-left: 5px;
  }

  &__img {
    max-width: 100%;
    margin: 0;
    margin-bottom: 10px;
    cursor: pointer;
  }

  &__data-time {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
  }
}